@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<head runat="server">
    <title>Meta Tags Example</title>
    <meta http-equiv="Refresh" content="3;url=https://localhost:44327/" />
</head>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An HTTP error occurred while processing your request. You will be redirected to home page.</h2>

