@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Searching for the best food products ??</p>
    <p>you are in the right place...</p>
</div>
